<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="admin_login">
        <div class="center">
            <a href="/">메인으로 돌아가기</a>
            <form action="" method="">
                <div class="line">
                    <label for="id">아이디</label>
                    <input type="text" id="id">
                </div>
                <div class="line">
                    <label for="pass">비밀번호</label>
                    <input type="password" id="pass">
                </div>
                <div class="line">
                    <button>로그인</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>