<% if (!userData){ %>
    <script>
        alert("비회원은 접근할 수 없는 페이지 입니다.");
        location.href = "/admin_login";
    </script>
<% } else { %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보도자료 추가 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../common/admin_header.ejs") %>
    <div id="brd_add">
        <div class="center">
            <h2>보도자료</h2>
            <form action="/board_add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="brd_auther" value="<%- userData.name %>">
                <div class="line">
                    <label for="title">제목</label>
                    <input name="brd_title" type="text" id="title">
                </div>
                <div class="line">
                    <label for="doc">관련 원장님</label>
                    <input name="brd_doc" type="text" id="doc">
                </div>
                <div class="line">
                    <label for="file">이미지 첨부</label>
                    <input name="brd_file" type="file" id="file">
                </div>
                <div class="line">
                    <label for="context">내용</label>
                    <textarea name="brd_context" id="context"></textarea>
                </div>
                <div class="line btns">
                    <button type="submit">작성</button>
                    <a href="/admin_board">작성 취소</a>
                </div>
            </form>
        </div>
    </div>
    <%- include("../common/footer.ejs") %>
</body>
</html>
<% } %>