<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="admin_login">
        <div class="center">
            <div class="left_box">
                <img src="/img/banner 02.png">
            </div>
            <div class="right_box">
                <p>관리자 페이지 입니다.<br>테스트 아이디는 admin<br>비밀번호는 1234 입니다.</p>
                <form action="/adminLogin" method="post">
                    <div class="line">
                        <label for="id">아이디</label>
                        <input type="text" name="admin_id" id="id" value="admin">
                    </div>
                    <div class="line">
                        <label for="pass">비밀번호</label>
                        <input type="password" name="admin_pass" id="pass" value="1234">
                    </div>
                    <div class="line">
                        <button>로그인</button>
                        <a href="/">메인으로 돌아가기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>