// 헤더 작업 시작
header {
    display:flex; justify-content:center;
    position:fixed;
    z-index:99; width:100%;
    padding:10px 0;
    background:transparent;
    transition:all 0.3s;
    .center {
        width:80%;
        display:flex; justify-content:space-between; align-items:center;
        .gnb {
            display:flex; justify-content:space-between;
            width:500px;
            li {
                &:hover {
                    a {
                        color:#2b9fd9;
                    }
                }
            }
            li.on {
                a {
                    color:#2b9fd9;
                }
            }
        }
        .ham_gnb {
            z-index:10;
            display:none;
            cursor:pointer;
            span {
                display:block;
                width:35px;
                height:3px;
                background-color:#fff;
                margin:7px 0;
                transition:all 0.5s;
            }
        }
        .ham_gnb.on {
            span{background-color:#fff;}
            .first {transform:rotate(45deg) translateX(14px);}
            .mid {
                transform:translateX(20px);
                opacity:0;
            }
            .last {transform:rotate(-45deg) translateX(14px);}
        }
        .ham_gnb.black {
            span{background-color:#000;}  
        }
        .admin_btn {
            position:absolute; top:10px; right:10px;
            color:#333; opacity:0.5;
        }
    }
    .center.admin_center {
        .gnb {width:650px;}
        .login_info {
            display:flex;
            position:absolute; top:5px; right:25px;
            p {
                &::after {
                    content:""; display:inline-block;
                    width:2px; height:15px;
                    background:#000;
                    transform:translateY(2px);
                    margin:0 10px;
                }
            }
        }
    }
    .right_menu {
        width:100vw; height:100vh;
        position:fixed; right:-110%; top:0;
        display:flex; justify-content:space-between;
        transition:all 0.5s;
        overflow:hidden;
        &.bg0{background:linear-gradient(90deg, rgba(158,206,216,1) 0%, rgba(158,206,216,1) 28%, rgba(205,233,239,1) 69%, rgba(204,233,238,1) 100%)}
        &.bg1{background:linear-gradient(to right, rgba(163,184,197,1) 0%, rgba(164,185,198,1) 52%, rgba(163,184,197,1) 100%);}
        &.bg2{background:linear-gradient(to right, rgba(185,200,210,1) 0%, rgba(209,223,231,1) 52%, rgba(228,240,248,1) 100%)}
        &.bg3 {background:linear-gradient(to right, rgba(219,207,200,1) 0%, rgba(223,213,206,1) 52%, rgba(239,235,232,1) 100%)}
        &::after {
            content:""; display:block;
            width:100vw; height:100vh;
            position:absolute; top:0; left:0;
            background:linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 100%);
            opacity:0.15;
            z-index:1;
        }
        .left_box {
            width:25%; z-index:10;
            .sub_gnb {
                height:40%;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                margin:120px 0 200px 0;
                padding-left:70px;
                li {
                    transition:all 0.3s;
                    width:100%;
                    a {
                        font-size:30px; color:#fff; font-weight:600;
                    }
                    &:hover {
                        transform:translateX(10px);
                        a {
                            color:#333;
                        }
                    }
                }
            }
            .sns {
                padding-left:70px;
                display:flex; justify-content:space-between;
                width:55%;
                i {
                    font-size:25px;
                    transition:all 0.3s;
                    color:#fff;
                    &:hover {
                        transform:scale(1.1);
                        color:#666;
                    }
                }
            }
        }
        .right_box {
            width:70%; z-index:10;
            .img_box {
                position:relative;
                height:100vh;
                img {
                    height:630px;
                    position:absolute; bottom:50%;
                    opacity:0;
                    transition:all 0.5s;
                    transform:translateY(50%);
                }
                img.show {opacity:1; transform:translateY(40%);}
            }
        }
    }
    .right_menu.on {
        right:0;
    }
}

#sub_header {
    background-color:#fff;
    .center {
        .ham_gnb {
            span {background-color:#000;}
        }
        .ham_gnb.on {
            span {background-color:#fff;}
        }
    }
}
#admin_header {
    background-color:#fff;
}

// 풋터 작업 시작
footer {
    display:flex; justify-content:center;
    background-color:#333;
    padding:70px 0;
    .center {
        width:80%;
        li, li a,p {color:#818181;}
        ul {
            display:flex;
        }
        .footer_gnb {
            margin-bottom:20px;
            li {
                margin-right:50px;
                a {
                    font-size:15px;
                }
            }
            li.on {
                a {color:#aaa; font-weight:bold;}
            }
        }
        .info {
            font-size:13px; margin-bottom:15px;
            li {
                &::after {
                    content:""; display:inline-block;
                    width:1px; height:13px; background-color:#818181;
                    transform:translateY(2px); margin:0 15px;
                }
                &:last-child{
                    &::after {
                        display:none;
                    }
                }
            }
        }
        .address {
            margin-bottom:15px;
        }
        .address,.copyright {
            p {font-size:13px;}
        }
    }
}

// 페이징 작업 시작
.paging_wrap {
    display:flex;
    justify-content:space-around;
    margin:15px auto;
    .line {
        display:flex;
        li {
            margin:0 15px;
            &:hover {
                a {
                    text-decoration:underline;
                }
            }
        }
        li.pagingOn {
            a {color:#2b9fd9; font-weight:bold;}
        }
    }
}

// 메인페이지 작업 시작
#main_wrap {
    > div {
        align-items:center;
        display:flex; justify-content:center;
        .center {
            width:80%;
            h2 {line-height:1.25; font-size:50px; margin-bottom:50px; color:#333;}
            p {line-height:1.5;}
            h3 {line-height:1.25;}
            .more_btn {
                display:block;
                width:150px; height:40px;
                line-height:40px; text-align:center;
                border:1px solid #000; border-radius:30px;
                margin:50px auto;
                border:1px solid #ccc;
                transition:all 0.3s;
                &:hover {
                    background-color:#1eb3e8;
                    color:#fff;
                }
            }
        }
    }
    .main_banner {
        overflow:hidden;
        width:100vw; height:100vh;
        background:linear-gradient(to right, rgba(163,184,197,1) 0%, rgba(164,185,198,1) 52%, rgba(163,184,197,1) 100%);
        .bg  {
            width:100vw; height:100vh;
            position:absolute; top:0; left:0;
            background:linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 61%);
            opacity:0.15;
        }
        .center {
            display:flex; justify-content:space-between; align-items:center;
            .left_box {
                width:auto;
                color:#fff;
                h2 {
                    font-size:25px; margin-bottom:0; color:#fff;
                }
                .years_Count {
                    display:flex;
                    width:100%; height:277.5px;
                    overflow-y:hidden;
                    .line {
                        position:relative;
                        top:0;
                        transition:all 0.1s;
                        p {font-size:185px;}
                    }
                }
                .years {
                    font-size:40px;
                }
                p {font-size:35px; font-weight:500;}
            }
            .right_box {
                width:50%;
                img {
                    margin-top:30px;
                }
            }
        }
    }
    .main_banner02 {
        height:100vh; position:relative;
        .center {
            display:flex; justify-content:space-between;
            .left_box {
                display:flex; flex-direction:column;
                justify-content:center;
                width:30%;
                h2 {font-size:42px;}
                p {font-size:17px; color:#666; br {display:none;}}
            }
            .right_box{
                width:61%; margin:auto 0;
                .boxs {
                    display:flex; align-items:center;
                    width:400%;
                    .box {
                        .img_box {
                            overflow:hidden;
                            img {margin-bottom:30px; width:100%;}
                        }
                        .text_box {
                            h3 {margin-bottom:30px; font-size:30px; color:#333;}
                            p {margin-bottom:30px; font-size:16px; color:#666;}
                        }
                    }
                }
            }
        }
    }
    .doc_wrap {
        padding:100px 0;
        .center {
            .doc_boxs {
                display:flex; justify-content:space-between;
                align-items:center;
                .left_box {
                    width:20%;
                    > div {
                        margin-bottom:30px;
                        h3 {
                            margin-bottom:10px;
                            font-size:28px;
                            transition:all 0.2s;
                            cursor:pointer;
                            color:#333;
                        }
                        p {margin-bottom:10px; font-size:17px; color:#666;}
                        a {
                            font-size:15px;
                            display:inline-block;
                            border:1px solid #000;
                            border-radius:20px;
                            padding:10px 20px;
                        }
                        &:hover {
                            h3 {
                                color:#2b9fd9;
                            }
                        }
                    }
                    .on {
                        h3 {
                            color:#2b9fd9;
                        }
                    }
                }
                .right_box {
                    position:relative;
                    width:75%; height:730.73px;
                    overflow:hidden;
                    .box {
                        display:flex;
                        opacity:0;
                        justify-content:center;
                        align-items:center;
                        position:absolute;
                        top:0; left:0;
                        transition:all 0.5s;
                        .text_box {
                            width:40%;
                            h3 {font-size:30px; margin-bottom:30px; color:#333;}
                            p {font-size:17px; color:#666;}
                        }
                        .img_box {
                            width:70%;
                            img {
                            }
                        }
                    }
                    .box_on {
                        opacity:1;
                    }
                }
            }
        }
    }
    .brd_wrap {
        width:100%; padding:100px 0;
        .center {
            overflow-x:hidden;
            .boxs {
                .box {
                    width:500px;
                    &:hover {
                        .img_box {
                            img {
                                transform:scale(1.1);
                            }
                        }
                    }
                    .img_box {
                        height:333px; overflow:hidden;
                        img {height:100%; transition:all 0.5s;}
                    }
                    .text_box {
                        h3 {font-size:20px; color:#333; margin:15px 0;}
                        p {font-size:16px; color:#666;}
                        .doc {font-size:14px;}
                        .context {
                            width:100%;
                            overflow:hidden;
                            white-space:nowrap;
                            text-overflow:ellipsis;
                        }
                    }
                }
            }
        }
    }
    .event_wrap {
        height:auto; padding:100px 0;
        .center {
            margin-top:100px;
            .box_show {
                width:100%; height:594.77px;
                overflow:hidden;
                .boxs {
                    display:flex; justify-content:space-between; flex-wrap:wrap;
                    .box {
                        width:385px;
                        margin-bottom:50px;
                        &:hover {
                            .img_box {
                                img {
                                    transform:scale(1.1);
                                }
                            }
                        }
                        .img_box {
                            margin-bottom:10px; overflow:hidden;
                            img {
                                width:100%; transition:all 0.5s;
                            }
                        }
                        .text_box {
                            h3,p {text-align:center; margin-bottom:10px;}
                            h3 {color:#333; font-size:20px; margin:15px 0;}
                            p {color:#666; font-size:13px;}
                        }
                    }
                }
            }
        }
    }
    .qna_wrap {
        padding:100px 0;
        .center {
            .qna_brd_wrap {
                border-top:2px solid #cacaca;
                .line {
                    border-bottom:1px solid #eee;
                    .top_line {
                        padding:18px;
                        display:flex; align-items:center;
                        p {cursor:pointer;}
                        .icon {margin-right:10px;}
                        .on {display:none;}
                    }
                }
            }
        }
    }
    .review {
        padding:100px 0;
        .center {
            .review_swiper {
                width:100%; overflow:hidden;
                .boxs {
                    display:flex;
                    .box {
                        width:280px; text-align:center;
                        .img_box {
                            img {transition:all 0.5s;}
                        }
                        .text_box {
                            text-align:center;
                            position:relative; top:-55px;
                            h3 {margin:10px 0; font-size:20px; color:#333; font-weight:400; transition:all 0.3s;}
                            p {color:#666; opacity:0; transition:all 0.5s;}
                            img {
                                transition:all 0.5s; opacity:0;
                            }
                        }
                        &:hover {
                            .img_box {
                                img {
                                    transform:translateY(-20px);
                                }
                            }
                            .text_box {
                                img {opacity:1; transform:translateY(-30px);}
                                p {opacity:1;}
                                h3 {color:#1eb3e8;}
                            }
                        }
                    }
                }
            }
        }
    }
    .reservation {
        padding:50px 0;
        .center {
            form {
                .line {
                    width:100%;
                    height:102px;
                    margin-bottom:30px;
                    label {display:block; margin-bottom:10px;}
                    input,textarea {
                        border:1px solid #ccc;
                        color:rgba(102,102,102,0.9);
                        width:100%;
                        box-sizing:border-box;
                        font-size:16px;
                    }
                    input {
                        height:50px;
                        line-height:60px;
                        padding:0 15px;
                    }
                    textarea {
                        height:100px; width:100%;
                        padding:15px;
                    }
                    #check_info {
                        border:1px solid #ccc;
                        white-space:pre-line;
                        height:130px;
                        overflow-y:auto;
                    }
                    button {
                        cursor:pointer;
                        height:60px;
                        padding:0 50px;
                        line-height:60px;
                        font-size:18px;
                        border:1px solid #ccc;
                        background-color:#fff;
                        border-radius:30px;
                        color:#000;
                        margin:0 auto;
                        position:relative;
                        left:50%;
                        transform:translateX(-50%);
                        transition:all 0.3s;
                        &:hover {
                            background-color:#1eb3e8;
                            color:#fff;
                        }
                    }
                    span {
                        display:block;
                        color:#666;
                        padding-top:10px;
                        box-sizing:border-box;
                    }
                }
                .line.info {
                    height:auto;
                }
                .check_info_btn {
                    display:flex;
                    align-items:center;
                    label {
                        margin-bottom:0;
                    }
                    #check_info_btn {
                        line-height:0;
                        padding:0;
                        width:auto;
                        transform:translateY(2px);
                        margin-right:10px;
                    }
                }
            }
        }
    }
}

// 관리자 페이지 작업 시작
// 관리자 로그인 페이지
#admin_login {
    width:100%;
    height:100vh;
    &::after{
        content:""; display:block;
        width:100%; height:100%;
        position:absolute; top:0; left:0;
        background:linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 61%);
        opacity:0.15;
        }
    .center {
        display:flex; justify-content:space-between;
        .left_box {
            width:50%; height:100vh;
            img {height:100%;}
        }
        .right_box {
            width:50%;
            background-color:rgba(255,255,255,0.7);
            z-index:99;
            display:flex; justify-content:center; align-items:center;
            flex-direction:column;
            p {text-align:center; margin-bottom:30px; line-height:1.5;}
            form {
                .line {
                    width:350px;
                    margin-bottom:10px;
                    display:flex; justify-content:space-between; align-items:center;
                    input {
                        border:1px solid #ccc; border-radius:35px;
                        width:250px; height:50px;
                        padding:10px; box-sizing:border-box;
                    }
                    a, button {
                        border:1px solid #ccc; border-radius:35px;
                        background-color:#fff; font-size:15px; font-weight:300;
                        width:48%; height:50px; cursor:pointer;
                    }
                    a {
                        text-align:center; line-height:50px;
                    }
                }
            }
        }
    }
}

// 관리자 메인 페이지
#admin_main {
    width:100%; height:100vh;
    display:flex; justify-content:center; align-items:center;
    background-color:#ded7d3;
}

// 관리자 상담 예약 목록 페이지
#admin_reservation {
    width:100%;
    display:flex; justify-content:center; align-items:center;
    .center {
        width:80%; padding:200px 0 100px 0;
        h2 {font-size:48px; margin-bottom:100px; color:#333; text-align:center;}
        table {
            border-top:2px solid #cacaca;
            border-bottom:2px solid #cacaca;
            width:100%;
            tr {
                border-bottom:1px solid #eee;
                height:65px;
                .num {width:10%; text-align:center;}
                .title {width:40%;}
                .auther {width:5%; text-align:center;}
                .date {width:20%; text-align:center;}
                &:last-child {
                    border-bottom:none;
                }
            }
        }
    }
}

// 게시판 페이지
#brd_list {
    width:100%;
    padding:200px 0;
    display:flex; justify-content:center; align-items:center; flex-direction:column;
    .bg {
        background-image:url(/img/banner_img04.jpg);
        background-repeat:no-repeat;
        margin:0 auto;
        width:1920px;
        height:190px;
        margin-bottom:100px;
    }
    .center {
        width:80%;
        display:flex; justify-content:center; align-items:center;
        flex-direction:column;
        h2 {font-size:48px; margin-bottom:100px; color:#333;}
        table {
            border-top:2px solid #cacaca;
            border-bottom:2px solid #cacaca;
            width:100%;
            tr {
                border-bottom:1px solid #eee;
                height:65px;
                .num {width:10%; text-align:center;}
                .title {width:50%;}
                .auther {width:10%; text-align:center;}
                .date {width:15%; text-align:center;}
                &:last-child {
                    border-bottom:none;
                }
            }
        }
        .add_btn {
            display:block;
            width:150px; height:40px;
            line-height:40px;
            text-align:center;
            border:1px solid #ccc;
            border-radius:30px;
            margin:50px 0;
            transition:all 0.3s;
            &:hover {
                background-color:#1eb3e8;
                color:#fff;
            }
        }
    }
}

// 게시글 상세 페이지
#brd_detail {
    width:100%;
    display:flex; justify-content:center;
    padding:200px 0;
    .center {
        width:80%;
        display:flex; justify-content:center; align-items:center;
        flex-direction:column;
        h2 {font-size:48px; margin-bottom:100px; color:#333;}
        table {
            border-top:2px solid #cacaca;
            border-bottom:2px solid #cacaca;
            width:100%;
            tr {
                display:flex; justify-content:space-between; align-items:center;
                border-bottom:1px solid #eee;
                height:65px;
                &:last-child {
                    border-bottom:none;
                }
                th {width:7%; text-align:start; padding-left:15px;}
                td {width:93%;}
            }
            .context {
                height:100%;
                position:relative;
                padding:50px 0 50px 15px;
                align-items:baseline;
                display:flex; flex-direction:column;
                .img {
                    text-align:center;
                    img {
                        width:100%;
                    }
                }
                th {text-align:left; padding-left:0; margin-bottom:10px;}
                td {
                    width:100%; line-height:1.5;
                    img {
                        margin:10px 0 50px 0;
                    }
                }
                .context_td {
                    white-space:pre-line;
                }
            }
            .customer_pic {
                height:100%;
                td {
                    padding:10px 0;
                    margin:0 auto; text-align:center;
                }
            }
        }
        .answer {
            width:100%;
            height:auto;
            background-color:#f5f5f5;
            padding:15px;
            box-sizing:border-box;
            border-bottom:2px solid #cacaca;
            .line {
                padding:15px 0;
                display:flex;
                justify-content:space-between;
                position:relative;
                border-bottom:1px solid #ccc;
                h3, p {font-size:16px; line-height:1.5;}
                h3 {margin:0 15px; width:7%;}
                p {width:93%;}
                &:last-child {
                    border-bottom:none;
                }
            }
        }
        .btns {
            width:100%;
            display:flex; justify-content:space-around;
            a {
                border-radius:35px;
                background-color:#fff; font-size:15px; font-weight:300;
                width:200px; height:50px; cursor:pointer;
                text-align:center; line-height:50px; border:1px solid #ccc;
                margin-top:50px;
                transition:all 0.3s;
                &:hover {
                    background-color:#1eb3e8;
                    color:#fff;
                }
            }
        }
    }
}

// 게시글 추가 페이지
#brd_add {
    width:100%;
    display:flex; justify-content:center;
    padding:200px 0;
    .center {
        width:50%; display:flex; justify-content:center; align-items:center;
        flex-direction:column;
        h2 {font-size:48px; margin-bottom:100px; color:#333;}
        form {
            width:100%;
            .line {
                display:flex; justify-content:space-between; align-items:center;
                label {width:15%;}
                a, button, input, textarea {
                    border:1px solid #ccc;
                    margin:10px 0;
                }
                input {
                    width:85%; height:50px;
                    padding:10px; box-sizing:border-box;
                }
                textarea {
                    width:85%; height:450px;
                    padding:10px;
                    box-sizing:border-box;
                }
                a, button {
                    border-radius:35px;
                    background-color:#fff; font-size:15px; font-weight:300;
                    width:300px; height:50px; cursor:pointer;
                }
                a {
                    text-align:center; line-height:50px;
                }
                p {width:100px;}
                .none {
                    width:900px; text-align:center;
                    border:1px solid #ccc;
                    padding:16px 0;
                    margin:10px 0;
                }
                img {
                    width:200px;
                    border:1px solid #ccc;
                    padding:10px 327px;
                    margin:10px 0;
                }
            }
            .line_textarea {
                justify-content:center;
                textarea {
                    width:100%;
                }
            }
            .line.btns {
                justify-content:space-around;
            }
        }
        .qna_form {
            .line {
                flex-direction:column;
                margin-bottom:15px;
                input,label,textarea {
                    width:100%
                }
            }
            .line.qna_firsr_line {
                flex-direction:row;
                .sub_line {
                    width:49%;
                    display:flex; flex-direction:column;
                }
            }
            .line.btns {flex-direction:row;}
        }
    }
}

// 관리자 온라인 상담 상세 페이지
.qna_detail {
    .center {
        .answer_box {
            width:100%;
            margin-bottom:10px;
            form {
                .line {
                    textarea {
                        border:1px solid #ccc;
                        margin:10px 0;
                        width:100%; height:100px;
                    }
                    button {
                        border-radius:35px;
                        background-color:#fff;
                        cursor:pointer;
                        border:1px solid #ccc;
                        padding:5px 10px;
                        transition:all 0.3s;
                        &:hover {
                            background-color:#1eb3e8;
                            color:#fff;
                        }
                    }
                }
                .btn_line {display:flex; justify-content:end;}
            }
        }
        .result_box {
            width:100%;
            border-top:1px solid #eee;
            border-bottom:1px solid #eee;
            padding:10px 0;
            p {white-space:pre-line; line-height:1.5;}
            .answer_btns {
                display:flex; justify-content:end;
                margin-bottom:10px;
                a {
                    border-radius:35px;
                    background-color:#fff;
                    cursor:pointer;
                    border:1px solid #ccc;
                    padding:5px 10px;
                    font-weight:300;
                    font-size:15px;
                    transition:all 0.3s;
                    &:hover {
                        background-color:#1eb3e8;
                        color:#fff;
                    }
                }
                .edit {margin-right:10px;}
            }
            .answer_edit_box {
                display:none;
                padding-top:10px;
                border-top:1px solid #eee;
                form {
                    .line {
                        display:flex; justify-content:end;
                        textarea {
                            width:100%; height:100px;
                            border:1px solid #ccc;
                            margin-bottom:10px;
                        }
                        a,button {
                            width:87px;
                            box-sizing:border-box;
                            border-radius:35px;
                            background-color:#fff;
                            cursor:pointer;
                            border:1px solid #ccc;
                            padding:5px 10px;
                            font-weight:300;
                            margin-left:10px;
                            font-size:15px;
                        }
                        a {
                            display:block;
                            text-align:center;
                            line-height:18.5px;
                        }
                    }
                }
            }
            .answer_edit_box.on {
                display:block;
            }
        }
    }
}

// 고객 후기 게시판
#brd_list_review {
    display:flex; justify-content:center;
    padding:200px 0;
    .center {
        width:80%;
        h2 {font-size:48px; margin-bottom:100px; color:#333; text-align:center;}
        .boxs {
            display:flex; flex-wrap:wrap; justify-content:space-around;
            .box {
                width:280px;
                .img_box {
                    img {transition:all 0.5s;}
                }
                .text_box {
                    text-align:center;
                    position:relative; top:-55px;
                    h3 {
                        margin:10px 0; font-size:20px;
                        color:#333; font-weight:400;
                        transition:all 0.3s;
                    }
                    p {color:#666; opacity:0; transition:all 0.5s; line-height:1.5;}
                    img {
                        transition:all 0.5s; opacity:0;
                    }
                }
                &:hover {
                    .img_box {
                        img {
                            transform:translateY(-20px);
                        }
                    }
                    .text_box {
                        img {opacity:1; transform:translateY(-30px);}
                        p {opacity:1;}
                        h3 {color:#1eb3e8;}
                    }
                }
            }
        }
        .add_btn {
            display:block;
            border-radius:35px;
            background-color:#fff; font-size:15px; font-weight:300;
            width:200px; height:50px; cursor:pointer;
            text-align:center; line-height:50px; border:1px solid #ccc;
            margin-top:50px;
            margin:0 auto;
            transition:all 0.3s;
            &:hover {
                background-color:#1eb3e8;
                color:#fff;
            }
        }
    }
}

// 이벤트 목록 고객 페이지
#brd_list_event {
    display:flex; justify-content:center;
    padding:200px 0;
    .center {
        width:80%; 
        h2 {font-size:48px; margin-bottom:100px; color:#333; text-align:center;}
        .boxs {
            display:flex; justify-content:space-between; flex-wrap:wrap;
            .box {
                width:385px;
                margin-bottom:50px;
                &:hover {
                    .img_box {
                        img {
                            transform:scale(1.1);
                        }
                    }
                }
                .img_box {
                    margin-bottom:10px; overflow:hidden;
                    img {
                        width:100%; transition:all 0.3s;
                    }
                }
                .text_box {
                    h3,p {text-align:center; margin-bottom:10px;}
                    h3 {color:#333; font-size:20px;}
                    p {color:#666; font-size:13px;}
                }
            }
        }
    }
}
.event_wrap {
    height:auto;
    .center {
        margin-top:100px;
    }
}

// 반응형 작업 시작
@media (max-width:1200px){
    // 게시글 상세 페이지
    #brd_detail {
        .center {
            .answer {
                .line {
                    h3 {width:10%;}
                    p {width:90%;}
                }
            }
        }
    }
    // 게시글 작성 페이지
    #brd_add {
        .center {
            width:70%;
        }
    }
}

@media (max-width:1024px){
    // 헤더
    header {
        .center {
            .gnb {
                display:none;
            }
            .admin_btn {
                display:none;
            }
            .ham_gnb {
                display:block;
            }
        }
    }
    #admin_header {
        .center {
            .gnb {
                display:flex;
            }
        }
    }
    // 게시판 목록 페이지
    #brd_list {
        .center {
            width:90%;
        }
    }
    // 이벤트 게시판 목록 페이지
    #brd_list_event {
        .center {width:90%;}
    }
    // 고객 후기 게시판 목록 페이지
    #brd_list_review {
        .center {width:90%;}
    }
    // 게시글 상세 페이지
    #brd_detail {
        .center {width:90%;}
    }
    // 게시글 작성 페이지
    #brd_add {
        .center {
            width:80%;
            .line.btns {
                button,a {width:40%;}
            }
        }
    }
    // 메인 페이지
    #main_wrap {
        >div {
            .center {
                width:90%;
                .more_btn {
                    font-size:20px; width:170px; height:55px; line-height:55px;
                }
            }
        }
        .main_banner {
            .center {
                .right_box {
                    display:none;
                }
                .left_box {
                    width:100%;
                    text-align:center;
                    .years_Count {
                        justify-content:center;
                    }
                }
            }
        }
        .main_banner02 {
            .center {
                flex-direction:column;
                .left_box,.right_box {width:100%; text-align:center;}
                .left_box {
                    h2 {br {display:none;}}
                    p {br {display:block;} margin-bottom:50px;}
                }
            }
        }
        .doc_wrap {
            .center {
                .doc_boxs {
                    flex-direction:column;
                    .left_box {
                        display:flex;
                        width:100%;
                        justify-content:space-around;
                        >div {
                            p {display:none;}
                        }
                    }
                    .right_box {
                        width:100%; margin-bottom:50px;
                    }
                }
            }
        }
        .qna_wrap {
            .center {
                .qna_brd_wrap {
                    .line {
                        .top_line {
                            padding:22px;
                            .title {
                                p {font-size:20px;}
                            }
                        }
                    }
                }
            }
        }
        .review {
            .center {
                .review_swiper {
                    .boxs {
                        .box {
                            a {
                                .text_box {
                                    h3 {font-size:25px;}
                                    p {font-size:18px;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .reservation {
            .center {
                form {
                    .line {
                        #check_info {
                            height:200px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:872px) {
    // 메인페이지 이벤트
    #main_wrap {
        .event_wrap {
            .center {
                .box_show {
                    .boxs {
                        justify-content:center;
                    }
                }
            }
        }
    }
    // 이벤트 목록 페이지
    #brd_list_event {
        .center {
            .boxs {
                justify-content:center;
            }
        }
    }
    // 풋터
    footer {
        .center {
            width:90%;
            text-align:center;
            .footer_gnb {
                justify-content:center;
                margin-bottom:50px;
                li {margin:0 30px;}
            }
            .info {
                flex-direction:column;
                li {
                    margin-bottom:15px;
                    &::after {display:none;}
                }
            }
        }
    }
}

@media (max-width:768px){
    // 헤더
    header {
        .center {
            .gnb {
                display:none;
            }
            .ham_gnb {
                display:block;
            }
        }
        .right_menu {
            .right_box {
                display:none;
            }
            .left_box {
                width:100%;
                text-align:center;
                .sub_gnb,.sns {padding:0;}
                .sns {
                    width:60%; margin:0 auto;
                    a {
                        i{
                            font-size:30px;
                        }
                    }
                }
                .sub_gnb {
                    li {
                        a {
                            font-size:35px;
                        }
                    }
                }
            }
        }
    }
    // 메인 페이지
    #main_wrap {
        .brd_wrap {
            .center {
                .brd_swiper {
                    .boxs {
                        .box {
                            a {
                                .img_box {
                                    width:100%;
                                    height:auto;
                                    img {
                                        width:100%;
                                        height:auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .doc_wrap {
            .center {
                .doc_boxs {
                    .left_box {
                    }
                    .right_box {
                        .box {
                            width:100%;
                            flex-direction:column;
                            .text_box,.img_box {
                                width:100%;
                                h3,p {text-align:center;}
                            }
                        }
                    }
                }
            }
        }
    }
    // 게시판 목록 페이지
    #brd_list {
        .center {
            table {
                tr {
                    .auther {display:none;}
                }
            }
        }
    }
    // 이벤트 목록 페이지
    #brd_list_event {
        .center {
            .boxs {
                justify-content:center;
            }
        }
    }
}

@media (max-width:580px){
    // 게시판 목록 페이지
    #brd_list {
        .center {
            table {
                tr {
                    .date {display:none;}
                }
            }
        }
    }
    // 메인 페이지
    #main_wrap {
        .main_banner {
            .center {
                .left_box {
                    p {
                        font-size:30px;
                    }
                }
            }
        }
        .main_banner02 {
            .center {
                .left_box {
                    h2 {
                        br {display:block;}
                    }
                }
            }
        }

    }
    // 풋터
    footer {
        .center {
            .footer_gnb {
                li {margin:0 20px;}
            }
        }
    }
}
