<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="main_wrap">
        <div class="main_banner">
            <div class="center">
                <div class="left_box">
                    <h2>since<br><span>2000</span></h2>
                    <p class="years">23년의 발걸음</p>
                    <p>눈건강을 위한 디딤돌이 되겠습니다.</p>
                </div>
                <div class="right_box">
                    <img src="/img/banner 01.png">
                </div>
            </div>
        </div>
        <!-- 상품 안내 게시판 -->
        <div class="main_banner02">
            <div class="center">
                <div class="left_box">
                    <h2>어떤 수술이<br>적합한지<br>의료진이 체크,<br>AI가 또 체크</h2>
                    <p>23년간의 빅데이터와 개개인의 검사데이터를 비교 분석하여 최적의 수술을 제안합니다. @@만의 맞춤형 시력교정을 경험해보세요.</p>
                </div>
                <div class="right_box">
                    <div class="box">
                        <img src="#">
                        <h3>23년간 쌓아온 50만의 빅데이터</h3>
                        <p>50만의 통계를 바탕으로 환자 개개인의 데이터 값을 분석하여 수술 가능 여부를 판단합니다.</p>
                    </div>
                    <div class="box">
                        <img src="#">
                        <h3>내 눈에 맞는 수술 예측</h3>
                        <p>100가지 이상의 검사 결과 값을 분석하여 최적의 맞춤 시력교정술을 제안합니다.</p>
                    </div>
                    <div class="box">
                        <img src="#">
                        <h3>수술 별 예측시력 제공</h3>
                        <p>60여가지 검사 데이터를 분석하여 수술별로 예측시력을 제공해드립니다.</p>
                    </div>
                    <div class="box">
                        <img src="#">
                        <h3>렌즈삽입술 예측 시스템</h3>
                        <p>개인의 근시, 난시, 각막 두께를 계산해 최적의 렌즈크기와 위치를 계산합니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 의사 소개 -->
        <div class="doc_wrap">
            <div class="center">
                <h2>의사 소개</h2>
                <div class="doc_boxs">
                    <div class="left_box">
                        <!-- db에서 긁어오기 -->
                        <!-- db에 의사 이름 / @@전문가 / 학력 및 경력 / 논문 및 학회발표 / 사진 -->
                        <div class="doc1">
                            <h2>강은민</h2>
                            <p>녹내장 시력교정 전문가</p>
                            <p>자세히 보기</p>
                        </div>
                        <div class="doc2">
                            <h2>나성진</h2>
                            <p>백내장 망막 전문가</p>
                            <p>자세히 보기</p>
                        </div>
                        <div class="doc3">
                            <h2>백형일</h2>
                            <p>백내장 굴절수술 전문가</p>
                            <p>자세히 보기</p>
                        </div>
                        <div class="doc4">
                            <h2>최성호</h2>
                            <p>백내장 굴절수술 전문가</p>
                            <p>자세히 보기</p>
                        </div>
                    </div>
                    <div class="right_box">
                        <img src="#">
                        <img src="#">
                        <img src="#">
                        <img src="#">
                    </div>
                </div>
            </div>
        </div>
        <!-- 공지글 게시판 / 보도자료 -->
        <div class="brd_wrap">
            <div class="center">
                <h2>언론 보도</h2>
                <div class="boxs">
                    <!-- db에서 긁어와서 슬라이드로 만들어주기 -->
                    <!-- 제목 / 관련 원장님 / 기사내용 / 사진? -->
                    <div class="box">
                        <div class="img_box">
                            <img src="#">
                        </div>
                        <div class="text_box">
                            <h3>제목</h3>
                             <p>관련 원장님</p>
                             <p>기사 내용</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 이벤트 안내 게시판 -->
        <div class="event_wrap">
            <div class="center">
                <h2>진행 중인 이벤트</h2>
                <div class="boxs">
                    <!-- db에서 긁어오기 -->
                    <!-- 제목 / 날짜 / 내용 / 사진 -->
                    <div class="box1">
                        <div class="img_box">
                            <img src="#">
                        </div>
                        <div class="text_box">
                            <h3>제목</h3>
                            <p>날짜</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 문의 게시판 -->
        <div class="qna_wrap">
            <div class="center">
                <h2>온라인 상담</h2>
                <ul class="qna_brd_wrap">
                    <!-- db에서 긁어오기 -->
                    <!-- 제목 / 질문 -->
                    <li>
                        <div class="title"><a href="#">질문</a></div>
                        <div class="answer">
                            <p>여기에 답변 넣어주기</p>
                        </div>
                    </li>

                    <a href="#">더보기</a>
                </ul>
            </div>
        </div>
        <div class="reservation">
            <div class="center">
                <!-- <form action="" method="">
                    <div class="line">
                        <label for="name">환자 성함</label>
                        <input type="text" id="name">
                    </div>
                    <div class="line">
                        <label for="birth">생년월일</label>
                        <input type="text" id="birth">
                    </div>
                    <div class="line">
                        <label for="phone">연락처</label>
                        <input type="text" id="phone">
                    </div>
                    <div class="line">
                        <label for="symptom">주요 증상</label>
                        <textarea name="" id="symptom"></textarea>
                    </div>
                    <div class="line">
                        <button>예약하기</button>
                    </div>
                </form> -->
            </div>
        </div>
        <!-- 지점매장 안내 게시판 -->
        <!-- <div class="location">
            <div class="center">
                <h2>오시는 길</h2>
                <div class="map">
                    지도 api? 또는 지점 정보
                </div>
            </div>
        </div> -->
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>