* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img, video {
  vertical-align: middle;
}

input, select, textarea {
  outline: 0;
  border: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
}

input {
  outline: 0;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  transition: all 0.3s;
}
header .center {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .center .gnb {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
header .center .gnb li:hover a {
  color: #2b9fd9;
}
header .center .gnb li.on a {
  color: #2b9fd9;
}
header .center .ham_gnb {
  z-index: 10;
  display: none;
  cursor: pointer;
}
header .center .ham_gnb span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 7px 0;
  transition: all 0.5s;
}
header .center .ham_gnb.on span {
  background-color: #fff;
}
header .center .ham_gnb.on .first {
  transform: rotate(45deg) translateX(14px);
}
header .center .ham_gnb.on .mid {
  transform: translateX(20px);
  opacity: 0;
}
header .center .ham_gnb.on .last {
  transform: rotate(-45deg) translateX(14px);
}
header .center .ham_gnb.black span {
  background-color: #000;
}
header .center .admin_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
  opacity: 0.5;
}
header .center.admin_center .gnb {
  width: 650px;
}
header .center.admin_center .login_info {
  display: flex;
  position: absolute;
  top: 5px;
  right: 25px;
}
header .center.admin_center .login_info p::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background: #000;
  transform: translateY(2px);
  margin: 0 10px;
}
header .right_menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: -110%;
  top: 0;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  overflow: hidden;
}
header .right_menu.bg0 {
  background: linear-gradient(90deg, rgb(158, 206, 216) 0%, rgb(158, 206, 216) 28%, rgb(205, 233, 239) 69%, rgb(204, 233, 238) 100%);
}
header .right_menu.bg1 {
  background: linear-gradient(to right, rgb(163, 184, 197) 0%, rgb(164, 185, 198) 52%, rgb(163, 184, 197) 100%);
}
header .right_menu.bg2 {
  background: linear-gradient(to right, rgb(185, 200, 210) 0%, rgb(209, 223, 231) 52%, rgb(228, 240, 248) 100%);
}
header .right_menu.bg3 {
  background: linear-gradient(to right, rgb(219, 207, 200) 0%, rgb(223, 213, 206) 52%, rgb(239, 235, 232) 100%);
}
header .right_menu::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 17%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.15;
  z-index: 1;
}
header .right_menu .left_box {
  width: 25%;
  z-index: 10;
}
header .right_menu .left_box .sub_gnb {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 120px 0 200px 0;
  padding-left: 70px;
}
header .right_menu .left_box .sub_gnb li {
  transition: all 0.3s;
  width: 100%;
}
header .right_menu .left_box .sub_gnb li a {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
header .right_menu .left_box .sub_gnb li:hover {
  transform: translateX(10px);
}
header .right_menu .left_box .sub_gnb li:hover a {
  color: #333;
}
header .right_menu .left_box .sns {
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  width: 55%;
}
header .right_menu .left_box .sns i {
  font-size: 25px;
  transition: all 0.3s;
  color: #fff;
}
header .right_menu .left_box .sns i:hover {
  transform: scale(1.1);
  color: #666;
}
header .right_menu .right_box {
  width: 70%;
  z-index: 10;
}
header .right_menu .right_box .img_box {
  position: relative;
  height: 100vh;
}
header .right_menu .right_box .img_box img {
  height: 630px;
  position: absolute;
  bottom: 50%;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(50%);
}
header .right_menu .right_box .img_box img.show {
  opacity: 1;
  transform: translateY(40%);
}
header .right_menu.on {
  right: 0;
}

#sub_header {
  background-color: #fff;
}
#sub_header .center .ham_gnb span {
  background-color: #000;
}
#sub_header .center .ham_gnb.on span {
  background-color: #fff;
}

#admin_header {
  background-color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 70px 0;
}
footer .center {
  width: 80%;
}
footer .center li, footer .center li a, footer .center p {
  color: #818181;
}
footer .center ul {
  display: flex;
}
footer .center .footer_gnb {
  margin-bottom: 20px;
}
footer .center .footer_gnb li {
  margin-right: 50px;
}
footer .center .footer_gnb li a {
  font-size: 15px;
}
footer .center .footer_gnb li.on a {
  color: #aaa;
  font-weight: bold;
}
footer .center .info {
  font-size: 13px;
  margin-bottom: 15px;
}
footer .center .info li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #818181;
  transform: translateY(2px);
  margin: 0 15px;
}
footer .center .info li:last-child::after {
  display: none;
}
footer .center .address {
  margin-bottom: 15px;
}
footer .center .address p, footer .center .copyright p {
  font-size: 13px;
}

.paging_wrap {
  display: flex;
  justify-content: space-around;
  margin: 15px auto;
}
.paging_wrap .line {
  display: flex;
}
.paging_wrap .line li {
  margin: 0 15px;
}
.paging_wrap .line li:hover a {
  text-decoration: underline;
}
.paging_wrap .line li.pagingOn a {
  color: #2b9fd9;
  font-weight: bold;
}

#main_wrap > div {
  align-items: center;
  display: flex;
  justify-content: center;
}
#main_wrap > div .center {
  width: 80%;
}
#main_wrap > div .center h2 {
  line-height: 1.25;
  font-size: 50px;
  margin-bottom: 50px;
  color: #333;
}
#main_wrap > div .center p {
  line-height: 1.5;
}
#main_wrap > div .center h3 {
  line-height: 1.25;
}
#main_wrap > div .center .more_btn {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 30px;
  margin: 50px auto;
  border: 1px solid #ccc;
  transition: all 0.3s;
}
#main_wrap > div .center .more_btn:hover {
  background-color: #1eb3e8;
  color: #fff;
}
#main_wrap .main_banner {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgb(163, 184, 197) 0%, rgb(164, 185, 198) 52%, rgb(163, 184, 197) 100%);
}
#main_wrap .main_banner .bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 17%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 61%);
  opacity: 0.15;
}
#main_wrap .main_banner .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_wrap .main_banner .center .left_box {
  width: 50%;
  color: #fff;
}
#main_wrap .main_banner .center .left_box h2 {
  font-size: 25px;
  margin-bottom: 0;
  color: #fff;
}
#main_wrap .main_banner .center .left_box .years_Count {
  display: flex;
  width: 100%;
  height: 277.5px;
  overflow-y: hidden;
}
#main_wrap .main_banner .center .left_box .years_Count .line {
  position: relative;
  top: 0;
  transition: all 0.1s;
}
#main_wrap .main_banner .center .left_box .years_Count .line p {
  font-size: 185px;
}
#main_wrap .main_banner .center .left_box .years {
  font-size: 40px;
}
#main_wrap .main_banner .center .left_box p {
  font-size: 35px;
  font-weight: 500;
}
#main_wrap .main_banner .center .right_box {
  width: 50%;
}
#main_wrap .main_banner .center .right_box img {
  margin-top: 30px;
}
#main_wrap .main_banner02 {
  height: 100vh;
  position: relative;
}
#main_wrap .main_banner02 .center {
  display: flex;
  justify-content: space-between;
}
#main_wrap .main_banner02 .center .left_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
#main_wrap .main_banner02 .center .left_box h2 {
  font-size: 42px;
}
#main_wrap .main_banner02 .center .left_box p {
  font-size: 17px;
  color: #666;
}
#main_wrap .main_banner02 .center .left_box p br {
  display: none;
}
#main_wrap .main_banner02 .center .right_box {
  width: 61%;
  margin: auto 0;
}
#main_wrap .main_banner02 .center .right_box .boxs {
  display: flex;
  align-items: center;
  width: 400%;
}
#main_wrap .main_banner02 .center .right_box .boxs .box .img_box {
  overflow: hidden;
}
#main_wrap .main_banner02 .center .right_box .boxs .box .img_box img {
  margin-bottom: 30px;
  width: 100%;
}
#main_wrap .main_banner02 .center .right_box .boxs .box .text_box h3 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #333;
}
#main_wrap .main_banner02 .center .right_box .boxs .box .text_box p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #666;
}
#main_wrap .doc_wrap {
  padding: 100px 0;
}
#main_wrap .doc_wrap .center .doc_boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box {
  width: 20%;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box > div {
  margin-bottom: 30px;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box > div h3 {
  margin-bottom: 10px;
  font-size: 28px;
  transition: all 0.2s;
  cursor: pointer;
  color: #333;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box > div p {
  margin-bottom: 10px;
  font-size: 17px;
  color: #666;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box > div a {
  font-size: 15px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 20px;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box > div:hover h3 {
  color: #2b9fd9;
}
#main_wrap .doc_wrap .center .doc_boxs .left_box .on h3 {
  color: #2b9fd9;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box {
  position: relative;
  width: 75%;
  height: 730.73px;
  overflow: hidden;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box .box {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box .box .text_box {
  width: 40%;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box .box .text_box h3 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #333;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box .box .text_box p {
  font-size: 17px;
  color: #666;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box .box .img_box {
  width: 70%;
}
#main_wrap .doc_wrap .center .doc_boxs .right_box .box_on {
  opacity: 1;
}
#main_wrap .brd_wrap {
  width: 100%;
  padding: 100px 0;
}
#main_wrap .brd_wrap .center {
  overflow-x: hidden;
}
#main_wrap .brd_wrap .center .boxs .box {
  width: 500px;
}
#main_wrap .brd_wrap .center .boxs .box:hover .img_box img {
  transform: scale(1.1);
}
#main_wrap .brd_wrap .center .boxs .box .img_box {
  height: 333px;
  overflow: hidden;
}
#main_wrap .brd_wrap .center .boxs .box .img_box img {
  height: 100%;
  transition: all 0.5s;
}
#main_wrap .brd_wrap .center .boxs .box .text_box h3 {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}
#main_wrap .brd_wrap .center .boxs .box .text_box p {
  font-size: 16px;
  color: #666;
}
#main_wrap .brd_wrap .center .boxs .box .text_box .doc {
  font-size: 14px;
}
#main_wrap .brd_wrap .center .boxs .box .text_box .context {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main_wrap .event_wrap {
  height: auto;
  padding: 100px 0;
}
#main_wrap .event_wrap .center {
  margin-top: 100px;
}
#main_wrap .event_wrap .center .box_show {
  width: 100%;
  height: 594.77px;
  overflow: hidden;
}
#main_wrap .event_wrap .center .box_show .boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main_wrap .event_wrap .center .box_show .boxs .box {
  width: 385px;
  margin-bottom: 50px;
}
#main_wrap .event_wrap .center .box_show .boxs .box:hover .img_box img {
  transform: scale(1.1);
}
#main_wrap .event_wrap .center .box_show .boxs .box .img_box {
  margin-bottom: 10px;
  overflow: hidden;
}
#main_wrap .event_wrap .center .box_show .boxs .box .img_box img {
  width: 100%;
  transition: all 0.5s;
}
#main_wrap .event_wrap .center .box_show .boxs .box .text_box h3, #main_wrap .event_wrap .center .box_show .boxs .box .text_box p {
  text-align: center;
  margin-bottom: 10px;
}
#main_wrap .event_wrap .center .box_show .boxs .box .text_box h3 {
  color: #333;
  font-size: 20px;
  margin: 15px 0;
}
#main_wrap .event_wrap .center .box_show .boxs .box .text_box p {
  color: #666;
  font-size: 13px;
}
#main_wrap .qna_wrap {
  padding: 100px 0;
}
#main_wrap .qna_wrap .center .qna_brd_wrap {
  border-top: 2px solid #cacaca;
}
#main_wrap .qna_wrap .center .qna_brd_wrap .line {
  border-bottom: 1px solid #eee;
}
#main_wrap .qna_wrap .center .qna_brd_wrap .line .top_line {
  padding: 18px;
  display: flex;
  align-items: center;
}
#main_wrap .qna_wrap .center .qna_brd_wrap .line .top_line p {
  cursor: pointer;
}
#main_wrap .qna_wrap .center .qna_brd_wrap .line .top_line .icon {
  margin-right: 10px;
}
#main_wrap .qna_wrap .center .qna_brd_wrap .line .top_line .on {
  display: none;
}
#main_wrap .review {
  padding: 100px 0;
}
#main_wrap .review .center .review_swiper {
  width: 100%;
  overflow: hidden;
}
#main_wrap .review .center .review_swiper .boxs {
  display: flex;
}
#main_wrap .review .center .review_swiper .boxs .box {
  width: 280px;
  text-align: center;
}
#main_wrap .review .center .review_swiper .boxs .box .img_box img {
  transition: all 0.5s;
}
#main_wrap .review .center .review_swiper .boxs .box .text_box {
  text-align: center;
  position: relative;
  top: -55px;
}
#main_wrap .review .center .review_swiper .boxs .box .text_box h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  transition: all 0.3s;
}
#main_wrap .review .center .review_swiper .boxs .box .text_box p {
  color: #666;
  opacity: 0;
  transition: all 0.5s;
}
#main_wrap .review .center .review_swiper .boxs .box .text_box img {
  transition: all 0.5s;
  opacity: 0;
}
#main_wrap .review .center .review_swiper .boxs .box:hover .img_box img {
  transform: translateY(-20px);
}
#main_wrap .review .center .review_swiper .boxs .box:hover .text_box img {
  opacity: 1;
  transform: translateY(-30px);
}
#main_wrap .review .center .review_swiper .boxs .box:hover .text_box p {
  opacity: 1;
}
#main_wrap .review .center .review_swiper .boxs .box:hover .text_box h3 {
  color: #1eb3e8;
}
#main_wrap .reservation {
  padding: 50px 0;
}
#main_wrap .reservation .center form .line {
  width: 100%;
  height: 102px;
  margin-bottom: 30px;
}
#main_wrap .reservation .center form .line label {
  display: block;
  margin-bottom: 10px;
}
#main_wrap .reservation .center form .line input, #main_wrap .reservation .center form .line textarea {
  border: 1px solid #ccc;
  color: rgba(102, 102, 102, 0.9);
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
#main_wrap .reservation .center form .line input {
  height: 50px;
  line-height: 60px;
  padding: 0 15px;
}
#main_wrap .reservation .center form .line textarea {
  height: 100px;
  width: 100%;
  padding: 15px;
}
#main_wrap .reservation .center form .line #check_info {
  border: 1px solid #ccc;
  white-space: pre-line;
  height: 130px;
  overflow-y: auto;
}
#main_wrap .reservation .center form .line button {
  cursor: pointer;
  height: 60px;
  padding: 0 50px;
  line-height: 60px;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 30px;
  color: #000;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
#main_wrap .reservation .center form .line button:hover {
  background-color: #1eb3e8;
  color: #fff;
}
#main_wrap .reservation .center form .line span {
  display: block;
  color: #666;
  padding-top: 10px;
  box-sizing: border-box;
}
#main_wrap .reservation .center form .line.info {
  height: auto;
}
#main_wrap .reservation .center form .check_info_btn {
  display: flex;
  align-items: center;
}
#main_wrap .reservation .center form .check_info_btn label {
  margin-bottom: 0;
}
#main_wrap .reservation .center form .check_info_btn #check_info_btn {
  line-height: 0;
  padding: 0;
  width: auto;
  transform: translateY(2px);
  margin-right: 10px;
}

#admin_login {
  width: 100%;
  height: 100vh;
}
#admin_login::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 17%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 61%);
  opacity: 0.15;
}
#admin_login .center {
  display: flex;
  justify-content: space-between;
}
#admin_login .center .left_box {
  width: 50%;
  height: 100vh;
}
#admin_login .center .left_box img {
  height: 100%;
}
#admin_login .center .right_box {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#admin_login .center .right_box p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}
#admin_login .center .right_box form .line {
  width: 350px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admin_login .center .right_box form .line input {
  border: 1px solid #ccc;
  border-radius: 35px;
  width: 250px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}
#admin_login .center .right_box form .line a, #admin_login .center .right_box form .line button {
  border: 1px solid #ccc;
  border-radius: 35px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  width: 48%;
  height: 50px;
  cursor: pointer;
}
#admin_login .center .right_box form .line a {
  text-align: center;
  line-height: 50px;
}

#admin_main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ded7d3;
}

#admin_reservation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin_reservation .center {
  width: 80%;
  padding: 200px 0 100px 0;
}
#admin_reservation .center h2 {
  font-size: 48px;
  margin-bottom: 100px;
  color: #333;
  text-align: center;
}
#admin_reservation .center table {
  border-top: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  width: 100%;
}
#admin_reservation .center table tr {
  border-bottom: 1px solid #eee;
  height: 65px;
}
#admin_reservation .center table tr .num {
  width: 10%;
  text-align: center;
}
#admin_reservation .center table tr .title {
  width: 40%;
}
#admin_reservation .center table tr .auther {
  width: 5%;
  text-align: center;
}
#admin_reservation .center table tr .date {
  width: 20%;
  text-align: center;
}
#admin_reservation .center table tr:last-child {
  border-bottom: none;
}

#brd_list {
  width: 100%;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#brd_list .bg {
  background-image: url(/img/banner_img04.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1920px;
  height: 190px;
  margin-bottom: 100px;
}
#brd_list .center {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#brd_list .center h2 {
  font-size: 48px;
  margin-bottom: 100px;
  color: #333;
}
#brd_list .center table {
  border-top: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  width: 100%;
}
#brd_list .center table tr {
  border-bottom: 1px solid #eee;
  height: 65px;
}
#brd_list .center table tr .num {
  width: 10%;
  text-align: center;
}
#brd_list .center table tr .title {
  width: 50%;
}
#brd_list .center table tr .auther {
  width: 10%;
  text-align: center;
}
#brd_list .center table tr .date {
  width: 15%;
  text-align: center;
}
#brd_list .center table tr:last-child {
  border-bottom: none;
}
#brd_list .center .add_btn {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin: 50px 0;
  transition: all 0.3s;
}
#brd_list .center .add_btn:hover {
  background-color: #1eb3e8;
  color: #fff;
}

#brd_detail {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
#brd_detail .center {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#brd_detail .center h2 {
  font-size: 48px;
  margin-bottom: 100px;
  color: #333;
}
#brd_detail .center table {
  border-top: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  width: 100%;
}
#brd_detail .center table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 65px;
}
#brd_detail .center table tr:last-child {
  border-bottom: none;
}
#brd_detail .center table tr th {
  width: 7%;
  text-align: start;
  padding-left: 15px;
}
#brd_detail .center table tr td {
  width: 93%;
}
#brd_detail .center table .context {
  height: 100%;
  position: relative;
  padding: 50px 0 50px 15px;
  align-items: baseline;
  display: flex;
  flex-direction: column;
}
#brd_detail .center table .context .img {
  text-align: center;
}
#brd_detail .center table .context .img img {
  width: 100%;
}
#brd_detail .center table .context th {
  text-align: left;
  padding-left: 0;
  margin-bottom: 10px;
}
#brd_detail .center table .context td {
  width: 100%;
  line-height: 1.5;
}
#brd_detail .center table .context td img {
  margin: 10px 0 50px 0;
}
#brd_detail .center table .context .context_td {
  white-space: pre-line;
}
#brd_detail .center table .customer_pic {
  height: 100%;
}
#brd_detail .center table .customer_pic td {
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}
#brd_detail .center .answer {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #cacaca;
}
#brd_detail .center .answer .line {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #ccc;
}
#brd_detail .center .answer .line h3, #brd_detail .center .answer .line p {
  font-size: 16px;
  line-height: 1.5;
}
#brd_detail .center .answer .line h3 {
  margin: 0 15px;
  width: 7%;
}
#brd_detail .center .answer .line p {
  width: 93%;
}
#brd_detail .center .answer .line:last-child {
  border-bottom: none;
}
#brd_detail .center .btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#brd_detail .center .btns a {
  border-radius: 35px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ccc;
  margin-top: 50px;
  transition: all 0.3s;
}
#brd_detail .center .btns a:hover {
  background-color: #1eb3e8;
  color: #fff;
}

#brd_add {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
#brd_add .center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#brd_add .center h2 {
  font-size: 48px;
  margin-bottom: 100px;
  color: #333;
}
#brd_add .center form {
  width: 100%;
}
#brd_add .center form .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#brd_add .center form .line label {
  width: 15%;
}
#brd_add .center form .line a, #brd_add .center form .line button, #brd_add .center form .line input, #brd_add .center form .line textarea {
  border: 1px solid #ccc;
  margin: 10px 0;
}
#brd_add .center form .line input {
  width: 85%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}
#brd_add .center form .line textarea {
  width: 85%;
  height: 450px;
  padding: 10px;
  box-sizing: border-box;
}
#brd_add .center form .line a, #brd_add .center form .line button {
  border-radius: 35px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  width: 300px;
  height: 50px;
  cursor: pointer;
}
#brd_add .center form .line a {
  text-align: center;
  line-height: 50px;
}
#brd_add .center form .line p {
  width: 100px;
}
#brd_add .center form .line .none {
  width: 900px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 16px 0;
  margin: 10px 0;
}
#brd_add .center form .line img {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px 327px;
  margin: 10px 0;
}
#brd_add .center form .line_textarea {
  justify-content: center;
}
#brd_add .center form .line_textarea textarea {
  width: 100%;
}
#brd_add .center form .line.btns {
  justify-content: space-around;
}
#brd_add .center .qna_form .line {
  flex-direction: column;
  margin-bottom: 15px;
}
#brd_add .center .qna_form .line input, #brd_add .center .qna_form .line label, #brd_add .center .qna_form .line textarea {
  width: 100%;
}
#brd_add .center .qna_form .line.qna_firsr_line {
  flex-direction: row;
}
#brd_add .center .qna_form .line.qna_firsr_line .sub_line {
  width: 49%;
  display: flex;
  flex-direction: column;
}
#brd_add .center .qna_form .line.btns {
  flex-direction: row;
}

.qna_detail .center .answer_box {
  width: 100%;
  margin-bottom: 10px;
}
.qna_detail .center .answer_box form .line textarea {
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  height: 100px;
}
.qna_detail .center .answer_box form .line button {
  border-radius: 35px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
  transition: all 0.3s;
}
.qna_detail .center .answer_box form .line button:hover {
  background-color: #1eb3e8;
  color: #fff;
}
.qna_detail .center .answer_box form .btn_line {
  display: flex;
  justify-content: end;
}
.qna_detail .center .result_box {
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.qna_detail .center .result_box p {
  white-space: pre-line;
  line-height: 1.5;
}
.qna_detail .center .result_box .answer_btns {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.qna_detail .center .result_box .answer_btns a {
  border-radius: 35px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 15px;
  transition: all 0.3s;
}
.qna_detail .center .result_box .answer_btns a:hover {
  background-color: #1eb3e8;
  color: #fff;
}
.qna_detail .center .result_box .answer_btns .edit {
  margin-right: 10px;
}
.qna_detail .center .result_box .answer_edit_box {
  display: none;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.qna_detail .center .result_box .answer_edit_box form .line {
  display: flex;
  justify-content: end;
}
.qna_detail .center .result_box .answer_edit_box form .line textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.qna_detail .center .result_box .answer_edit_box form .line a, .qna_detail .center .result_box .answer_edit_box form .line button {
  width: 87px;
  box-sizing: border-box;
  border-radius: 35px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-weight: 300;
  margin-left: 10px;
  font-size: 15px;
}
.qna_detail .center .result_box .answer_edit_box form .line a {
  display: block;
  text-align: center;
  line-height: 18.5px;
}
.qna_detail .center .result_box .answer_edit_box.on {
  display: block;
}

#brd_list_review {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
#brd_list_review .center {
  width: 80%;
}
#brd_list_review .center h2 {
  font-size: 48px;
  margin-bottom: 100px;
  color: #333;
  text-align: center;
}
#brd_list_review .center .boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#brd_list_review .center .boxs .box {
  width: 280px;
}
#brd_list_review .center .boxs .box .img_box img {
  transition: all 0.5s;
}
#brd_list_review .center .boxs .box .text_box {
  text-align: center;
  position: relative;
  top: -55px;
}
#brd_list_review .center .boxs .box .text_box h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  transition: all 0.3s;
}
#brd_list_review .center .boxs .box .text_box p {
  color: #666;
  opacity: 0;
  transition: all 0.5s;
  line-height: 1.5;
}
#brd_list_review .center .boxs .box .text_box img {
  transition: all 0.5s;
  opacity: 0;
}
#brd_list_review .center .boxs .box:hover .img_box img {
  transform: translateY(-20px);
}
#brd_list_review .center .boxs .box:hover .text_box img {
  opacity: 1;
  transform: translateY(-30px);
}
#brd_list_review .center .boxs .box:hover .text_box p {
  opacity: 1;
}
#brd_list_review .center .boxs .box:hover .text_box h3 {
  color: #1eb3e8;
}
#brd_list_review .center .add_btn {
  display: block;
  border-radius: 35px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ccc;
  margin-top: 50px;
  margin: 0 auto;
  transition: all 0.3s;
}
#brd_list_review .center .add_btn:hover {
  background-color: #1eb3e8;
  color: #fff;
}

#brd_list_event {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
#brd_list_event .center {
  width: 80%;
}
#brd_list_event .center h2 {
  font-size: 48px;
  margin-bottom: 100px;
  color: #333;
  text-align: center;
}
#brd_list_event .center .boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#brd_list_event .center .boxs .box {
  width: 385px;
  margin-bottom: 50px;
}
#brd_list_event .center .boxs .box:hover .img_box img {
  transform: scale(1.1);
}
#brd_list_event .center .boxs .box .img_box {
  margin-bottom: 10px;
  overflow: hidden;
}
#brd_list_event .center .boxs .box .img_box img {
  width: 100%;
  transition: all 0.3s;
}
#brd_list_event .center .boxs .box .text_box h3, #brd_list_event .center .boxs .box .text_box p {
  text-align: center;
  margin-bottom: 10px;
}
#brd_list_event .center .boxs .box .text_box h3 {
  color: #333;
  font-size: 20px;
}
#brd_list_event .center .boxs .box .text_box p {
  color: #666;
  font-size: 13px;
}

.event_wrap {
  height: auto;
}
.event_wrap .center {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  #brd_detail .center .answer .line h3 {
    width: 10%;
  }
  #brd_detail .center .answer .line p {
    width: 90%;
  }
  #brd_add .center {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  header .center .gnb {
    display: none;
  }
  header .center .admin_btn {
    display: none;
  }
  header .center .ham_gnb {
    display: block;
  }
  #admin_header .center .gnb {
    display: flex;
  }
  #brd_list .center {
    width: 90%;
  }
  #brd_list_event .center {
    width: 90%;
  }
  #brd_list_review .center {
    width: 90%;
  }
  #brd_detail .center {
    width: 90%;
  }
  #brd_add .center {
    width: 80%;
  }
  #brd_add .center .line.btns button, #brd_add .center .line.btns a {
    width: 40%;
  }
  #main_wrap > div .center {
    width: 90%;
  }
  #main_wrap > div .center .more_btn {
    font-size: 20px;
    width: 170px;
    height: 55px;
    line-height: 55px;
  }
  #main_wrap .main_banner .center .right_box {
    display: none;
  }
  #main_wrap .main_banner .center .left_box {
    width: 100%;
    text-align: center;
  }
  #main_wrap .main_banner .center .left_box .years_Count {
    justify-content: center;
  }
  #main_wrap .main_banner02 .center {
    flex-direction: column;
  }
  #main_wrap .main_banner02 .center .left_box, #main_wrap .main_banner02 .center .right_box {
    width: 100%;
    text-align: center;
  }
  #main_wrap .main_banner02 .center .left_box h2 br {
    display: none;
  }
  #main_wrap .main_banner02 .center .left_box p {
    margin-bottom: 50px;
  }
  #main_wrap .main_banner02 .center .left_box p br {
    display: block;
  }
  #main_wrap .doc_wrap .center .doc_boxs {
    flex-direction: column;
  }
  #main_wrap .doc_wrap .center .doc_boxs .left_box {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  #main_wrap .doc_wrap .center .doc_boxs .left_box > div p {
    display: none;
  }
  #main_wrap .doc_wrap .center .doc_boxs .right_box {
    width: 100%;
    margin-bottom: 50px;
  }
  #main_wrap .qna_wrap .center .qna_brd_wrap .line .top_line {
    padding: 22px;
  }
  #main_wrap .qna_wrap .center .qna_brd_wrap .line .top_line .title p {
    font-size: 20px;
  }
  #main_wrap .review .center .review_swiper .boxs .box a .text_box h3 {
    font-size: 25px;
  }
  #main_wrap .review .center .review_swiper .boxs .box a .text_box p {
    font-size: 18px;
  }
  #main_wrap .reservation .center form .line #check_info {
    height: 200px;
  }
}
@media (max-width: 872px) {
  #main_wrap .event_wrap .center .box_show .boxs {
    justify-content: center;
  }
  #brd_list_event .center .boxs {
    justify-content: center;
  }
  footer .center {
    width: 90%;
    text-align: center;
  }
  footer .center .footer_gnb {
    justify-content: center;
    margin-bottom: 50px;
  }
  footer .center .footer_gnb li {
    margin: 0 30px;
  }
  footer .center .info {
    flex-direction: column;
  }
  footer .center .info li {
    margin-bottom: 15px;
  }
  footer .center .info li::after {
    display: none;
  }
}
@media (max-width: 768px) {
  header .center .gnb {
    display: none;
  }
  header .center .ham_gnb {
    display: block;
  }
  header .right_menu .right_box {
    display: none;
  }
  header .right_menu .left_box {
    width: 100%;
    text-align: center;
  }
  header .right_menu .left_box .sub_gnb, header .right_menu .left_box .sns {
    padding: 0;
  }
  header .right_menu .left_box .sns {
    width: 60%;
    margin: 0 auto;
  }
  header .right_menu .left_box .sns a i {
    font-size: 30px;
  }
  header .right_menu .left_box .sub_gnb li a {
    font-size: 35px;
  }
  #main_wrap .brd_wrap .center .brd_swiper .boxs .box a .img_box {
    width: 100%;
    height: auto;
  }
  #main_wrap .brd_wrap .center .brd_swiper .boxs .box a .img_box img {
    width: 100%;
    height: auto;
  }
  #main_wrap .doc_wrap .center .doc_boxs .right_box .box {
    width: 100%;
    flex-direction: column;
  }
  #main_wrap .doc_wrap .center .doc_boxs .right_box .box .text_box, #main_wrap .doc_wrap .center .doc_boxs .right_box .box .img_box {
    width: 100%;
  }
  #main_wrap .doc_wrap .center .doc_boxs .right_box .box .text_box h3, #main_wrap .doc_wrap .center .doc_boxs .right_box .box .text_box p, #main_wrap .doc_wrap .center .doc_boxs .right_box .box .img_box h3, #main_wrap .doc_wrap .center .doc_boxs .right_box .box .img_box p {
    text-align: center;
  }
  #brd_list .center table tr .auther {
    display: none;
  }
  #brd_list_event .center .boxs {
    justify-content: center;
  }
}
@media (max-width: 580px) {
  #brd_list .center table tr .date {
    display: none;
  }
  #main_wrap .main_banner .center .left_box p {
    font-size: 30px;
  }
  #main_wrap .main_banner02 .center .left_box h2 br {
    display: block;
  }
  footer .center .footer_gnb li {
    margin: 0 20px;
  }
}