<% if (!userData){ %>
    <script>
        alert("비회원은 접근할 수 없는 페이지 입니다.");
        location.href = "/admin_login";
    </script>
<% } else { %>
<header>
    <div class="center admin_center">
        <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
        <ul class="gnb">
            <li><a href="/admin_board">보도 자료 관리</a></li>
            <li><a href="/admin_event">이벤트 관리</a></li>
            <li><a href="/admin_qna">온라인 상담 관리</a></li>
            <li><a href="/admin_review">고객 후기 관리</a></li>
        </ul>
        <div class="login_info">
            <p>안녕하세요 <%- userData.name %>님</p>
            <a href="/logout">로그아웃</a>
        </div>
        <a class="admin_btn" href="/admin_login"><i class="fa-solid fa-gear"></i></a>
    </div>
</header>
<% } %>