<footer>
    <div class="center">
        <ul class="footer_gnb">
            <li><a href="#">보도 자료</a></li>
            <li><a href="#">의사 소개</a></li>
            <li><a href="#">이벤트</a></li>
            <li><a href="#">온라인 상담</a></li>
        </ul>
        <ul class="info">
            <li>대표자: 김진국</li>
            <li>사업자 등록번호: 123-45-67890</li>
            <li>통신판매업신고: 서초0633호</li>
            <li>상호명: 리지안 안과</li>
        </ul>
        <div class="address">
            <p>서울특별시 강남구 언주로 859 쉬즈에비뉴빌딩 B1,1,M,2층</p>
        </div>
        <div class="copyright">
            <p>Copyrightⓒ 2022 Dayeon. All rights reserved</p>
        </div>
    </div>
</footer>