<header>
    <div class="center">
        <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
        <ul class="gnb">
            <li><a href="/board">보도 자료</a></li>
            <li><a href="/event">이벤트</a></li>
            <li><a href="/qna">자주하는 질문</a></li>
            <li><a href="/review">고객 후기</a></li>
        </ul>
        <a class="admin_btn" href="/admin_login"><i class="fa-solid fa-gear"></i></a>
    </div>
</header>