<header>
    <div class="center">
        <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
        <ul class="gnb">
            <li><a href="#">보도 자료</a></li>
            <li><a href="#">의사 소개</a></li>
            <li><a href="#">이벤트</a></li>
            <li><a href="#">온라인 상담</a></li>
        </ul>
    </div>
</header>