<header>
    <div class="center">
        <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
        <ul class="gnb">
            <li><a href="/board">보도 자료</a></li>
            <li><a href="/event">이벤트</a></li>
            <li><a href="/qna">자주하는 질문</a></li>
            <li><a href="/review">고객 후기</a></li>
        </ul>
        <div class="ham_gnb">
            <span class="first"></span>
            <span class="mid"></span>
            <span class="last"></span>
        </div>
        <a class="admin_btn" href="/admin_login"><i class="fa-solid fa-gear"></i></a>
    </div>
    <div class="right_menu bg0">
        <div class="left_box">
            <ul class="sub_gnb">
                <li><a href="/board">보도 자료</a></li>
                <li><a href="/event">이벤트</a></li>
                <li><a href="/qna">자주하는 질문</a></li>
                <li><a href="/review">고객 후기</a></li>
            </ul>
            <div class="sns">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-square-tumblr"></i></a>
            </div>
        </div>
        <div class="right_box">
            <div class="img_box">
                <img class="show" src="/img/banner 01.png">
                <img src="/img/banner 02.png">
                <img src="/img/banner 03.png">
                <img src="/img/banner 04.png">
            </div>
        </div>
    </div>
</header>
<script src="../js/gnb_menu.js"></script>
<script src="../js/mobile_menu.js"></script>